@using BookStore.Admin.Extentions;
<!-- Sidebar -->
<nav class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Home" asp-action="Index">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fa fa-home"></i>
        </div>
        <div class="sidebar-brand-text mx-3">BookStore Admin</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <div class="nav-item @Html.IsActive("Home","Index")">
        <a asp-controller="Home" asp-action="Index" class="nav-link">
            <i class="fa fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </div>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Management
    </div>
    <!-- Sidebar Item - Book Management -->
    <div class="nav-item @Html.IsActive("Books")">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseBooks"
           aria-expanded="true" aria-controls="collapseBooks">
            <i class="fa fa-fw fa-book"></i>
            <span>Quản lý sách</span>
        </a>
        <div id="collapseBooks" class="collapse @(Html.IsActive("Books") == "active" ? "show" : "")" aria-labelledby="headingBooks" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Chức năng:</h6>
                <a class="collapse-item" asp-controller="Books" asp-action="BookList">
                    <i class="fa fa-list"></i> Xem danh sách
                </a>
                <a class="collapse-item" asp-controller="Books" asp-action="CreateBook">
                    <i class="fa fa-plus-circle"></i> Thêm mới sách
                </a>
            </div>
        </div>
    </div>


    <!-- Nav Item - Utilities Collapse Menu -->
    <div class="nav-item @Html.IsActive("Stock")">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
           aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fa fa-fw fa-warehouse"></i>
            <span>Quản lý kho</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Chức năng:</h6>
                <a class="collapse-item" asp-controller="Stock" asp-action="ListOrder">
                    <i class="fa fa-list"></i> Xem đơn nhập
                </a>
                <a class="collapse-item" asp-controller="Stock" asp-action="CreateOrderImport">
                    <i class="fa fa-file-invoice"></i> Nhập sách
                </a>
            </div>
        </div>
    </div>

    <div class="nav-item @Html.IsActive("Account")">
        <a class="nav-link" asp-controller="Account" asp-action="AccountList">
            <i class="fa fa-fw fa-user"></i>
            <span>Quản lý tài khoản</span>
        </a>
    </div>
    <div class="nav-item @Html.IsActive("Order")">
        <a class="nav-link" asp-controller="Order" asp-action="OrderManagement">
            <i class="fa fa-fw fa-truck-moving"></i>
            <span>Quản lý Đơn hàng</span>
        </a>
    </div>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</nav>
<!-- End of Sidebar -->
