@model BookStore.Application.DTOs.CartSummaryDto
@inject BookStore.Application.Services.IFileService fileService
@{
    ViewData["Title"] = "Shopping Cart";
}
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">Products</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model == null || Model.CartDetailDtos == null || Model.CartDetailDtos.Count == 0)
                            {
                                <tr>
                                    <td colspan="5" class="text-center">Your cart is empty.</td>
                                </tr>
                            }
                            else
                            {
                                int index = 0;
                                foreach (var cartDetailDto in Model.CartDetailDtos)
                                {
                                    <tr>
                                        <td class="shoping__cart__item">
                                            <img src="@fileService.GetImageUrl(cartDetailDto.BookImage)" alt="@cartDetailDto.BookName" style="max-width: 24%">
                                            <a asp-controller="Item" asp-action="GetBookDetail" asp-route-id="@cartDetailDto.BookId" target="_blank">
                                                <h5>@cartDetailDto.BookName</h5>
                                            </a>
                                        </td>
                                        <td class="shoping__cart__price">
                                            @cartDetailDto.BookPrice.ToString("N0")
                                        </td>
                                        <td class="shoping__cart__quantity no-select">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" value="@cartDetailDto.Quantity"
                                                           data-cart-detail-id="@cartDetailDto.Id"
                                                           data-cart-detail-price="@cartDetailDto.BookPrice"
                                                           data-cart-detail-discount="@cartDetailDto.BookDiscount"
                                                           data-cart-detail-index="@index">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="shoping__cart__total" data-cart-detail-id="@cartDetailDto.Id">
                                            @((cartDetailDto.BookPrice * cartDetailDto.Quantity).ToString("N0"))
                                        </td>
                                        <td class="shoping__cart__item__close">
                                            <form asp-controller="Cart" asp-action="DeleteCartDetail" asp-route-cartDetailId="@cartDetailDto.Id" method="post">
                                                @Html.AntiForgeryToken()
                                                <button style="all: unset;">
                                                    <span class="icon_close"></span>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    ++index;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @if (Model != null && Model.CartDetailDtos != null && Model.CartDetailDtos.Count > 0)
        {
            <div class="row">
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>Cart Total</h5>
                        <ul>
                            <li>Subtotal <span id="subtotal" data-cart-total-price="@Model.TotalPrice">@Model.TotalPrice.ToString("N0")</span></li>
                            <li>Discount <span id="discount" data-cart-total-discount="@Model.TotalDiscount">-@Model.TotalDiscount.ToString("N0")</span></li>
                            <li>Total <span id="total">@((Model.TotalPrice - Model.TotalDiscount).ToString("N0"))</span></li>
                        </ul>
                        <form asp-controller="Cart" asp-action="ConfirmCheckout" method="post">
                            @Html.AntiForgeryToken()
                            <div style="display: none;">
                                @for (int i = 0; i < Model.CartDetailDtos.Count; i++)
                                {
                                    <div class="mb-3">
                                        <div class="form-group">
                                            <label>Id:</label>
                                            <input class="form-control" type="hidden"
                                                   asp-for="CartDetailDtos[i].Id" />
                                        </div>
                                        <div class="form-group">
                                            <label>Quantity:</label>
                                            <input class="form-control" type="text"
                                                   asp-for="CartDetailDtos[i].Quantity" />
                                        </div>
                                    </div>
                                }
                            </div>
                            <button class="primary-btn" style="border: none" type="submit">
                                PROCEED TO CHECKOUT
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
