@model BookStore.Domain.Entities.Book
@inject BookStore.Application.Services.IFileService fileService
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="@fileService.GetImageUrl(Model.Image)" alt="@Model.Name">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>@Model.Name</h3>
                    <div class="product__details__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <div class="author-info">
                        <div class="author">Author: @Model.Author</div>
                        <div class="author">Category: @string.Join(", ", Model.Categories.Select(c => c.Name))</div>
                        <div class="factory">Factory: @Model.Factory</div>
                    </div>
                    <div class="featured__item__text">
                        <div class="inner-price">
                            <h5>@((Model.Price * (1 - Model.Discount / 100)).ToString("N0"))</h5>
                            <span>@Model.Price.ToString("N0")</span>
                            <div class="discount">@Model.Discount%</div>
                        </div>
                    </div>
                    <p>@Model.ShortDesc</p>
                    <div class="product__details__quantity no-select">
                        <div class="quantity">
                            <div class="pro-qty">
                                <input type="text" value="1"
                                       data-cart-detail-index="0" data-book-quantity="@Model.Quantity">
                            </div>
                        </div> 
                    </div>
                    <input class="form-control d-none" type="text" name="quantity"
                           id="CartDetailDtos_0__Quantity" value="1" />
                    <a data-book-id="@Model.Id" data-book-isDeleted="@Model.IsDeleted"
                       class="btnAddToCartDetail primary-btn">
                        <i class="fa fa-shopping-cart"></i>
                    </a>
                    <ul>
                        @{
                            string text = "";
                            long quantity = 0;
                            if (Model.IsDeleted == false)
                            {
                                text = "In Stock";
                                quantity = Model.Quantity;
                            }
                            else
                            {
                                text = "Out of Stock";
                            }
                        }
                        <li><b>Availability</b> <span>@text (Remaining @quantity products)</span></li>
                        <li><b>Sold</b> <span>@Model.Sold</span></li>
                        <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>
                        <li>
                            <b>Share on</b>
                            <div class="share">
                                <a href="#!"><i class="fa fa-facebook"></i></a>
                                <a href="#!"><i class="fa fa-twitter"></i></a>
                                <a href="#!"><i class="fa fa-instagram"></i></a>
                                <a href="#!"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                               aria-selected="true">Description</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Product Information</h6>
                                <p>@Model.DetailDesc</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-7">
            <div class="product__discount">
                <div class="section-title product__discount__title">
                    <h2>Related Products</h2>
                </div>
                <div class="row">
                    <div class="product__discount__slider owl-carousel">
                        @if (ViewBag.RelatedBooks != null && ViewBag.RelatedBooks.Count > 0)
                        {
                            foreach (var item in ViewBag.RelatedBooks as IEnumerable<BookDto>)
                            {
                                <div class="col-lg-4">
                                    @await Html.PartialAsync("_BookList", item)
                                </div>
                            }
                        }
                        else
                        {
                            <p>No related books found.</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>